<thead>
<tr class="tableTitle">
    <td class="cn">Course Name</td>
    <td class="cnb">Course Number</td>
    <td class="maj">Major</td>
    <td class="sch">Schedule</td>
    <td class="sta">Status</td>
    <td class="pro">Professor</td>
    <td class="headcount">Total</td>
    <td class="drop">Drop Course</td>
</tr>
</thead>
