<div class="leftSide o_hFunction">
    <ul class="leftMenuBar">
        <li id="red"><a href="/courselist" target="_self"><h3>Course List</h3></a></li>
        <li id="orange"><a href="/searchcourse" target="_self"><h3>Course Search & Add</h3></a></li>
        <li id="green"><a href="/mycourse" target="_self"><h3> My Course & Drop</h3></a></li>
    </ul>
</div>
