<!--Search Bar Begin-->
<form class="searchform" ng-submit="searchCourse()">
    <div class="err hidden">Please enter a course number</div>
    <input type="number" id="searchBar" placeholder="Please type Course Code" ng-model="formSearchData.courseNumber" />
    <button type="submit" id="searchButton">Search</button>
</form>
<div class="clear"></div>
<!--Search Bar End-->
