<!--userInfo (userName) & sign out Begin-->
{{#userinfo}}
<ul id="userWho">
    <li><img src="../img/user_ico.png" height="15px" width="15px" alt="user_ico"></li>
    <li>{{firstName}} |</li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/signout">Sign out</a></li>
</ul>
{{/userinfo}}
<script>
//window.User = {{{json userinfo}}}
</script>
