<thead>
<tr class="tableTitle">
    <td>UserId</td>
    <td>Email</td>
    <td>First name</td>
    <td>Last name</td>
    <td>Role</td>
    <td>Major</td>
    <td>Course Registered</td>
</tr>
</thead>
