<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' />
    <link rel="stylesheet" type="text/css" href="css/main_style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/leftSideMenuBarFunction.js"></script>
    <title>Course Registration System</title>
</head>
<body>
    <!--Wrap Begin-->
    <div class="wrap">
        <!--Top Menu Bar Begin-->
        <div class="topMenuBar">
            <ul id="title">
                <li ><img id="flash" src="img/menu_ico.png" height="15px" width="15px" alt="menu_ico"/></li>
                <li><h4>Course Registration System</h4></li>
            </ul>
            <!--userInfo (userName) & sign out Begin-->
            <ul id="userWho">
                <li><img src="img/user_ico.png" height="15px" width="15px" alt="user_ico"></li>
                <li>UserName |</li>
                <li>Sign out</li>
            </ul>
            <!--userInfo (userName) & sign out End-->
            <div class="clear"></div>
        </div>
        <!--Top Menu Bar End-->

        <!--Main Body Begin-->
        <div class="mainBody">
            <div class="leftSide o_hFunction">
                <ul class="leftMenuBar">
                    <li id="red"><a href="admin_Course_List.html" target="_self"><h3>Course List</h3></a></li>
                    <li id="orange"><a href="admin_Course_Search.html" target="_self"><h3>Course Serach</h3></a></li>
                    <li id="green"><a href="admin_Course_Create.html" target="_self"><h3>Create Course</h3></a></li>
                </ul>
            </div>
            <!--<div class="leftSideBlock o_hFunction"></div>-->
            <div class="rightSide">

                     <!-- Course Search & Add page Begin-->
                     <div class="pageSize" id="pageB" >
                         <div class="page_style">
                             <div class="pageTitle">
                                 <h2>Course Serach & Add</h2>
                             </div>
                             <div class="pageBoxPosition">


                                 <!--Search Bar Begin-->
                                 <input type="text" id="searchBar" placeholder="Plase type Course Code " />
                                 <div id="searchButton">Search</div>
                                 <div class="clear"></div>
                                 <!--Search Bar End-->
                                 <!--Class for each value rules
                                  Course Name = cn
                                  Course Number = cnb
                                  Major = maj
                                  Schedule = sch
                                  Status = sta
                                  Professor = pro
                                  Description = Des
                                  Add Course Button = add
                                  Drop Course Button = Drop
                                  -->
                                 <table>
                                     <thead>
                                     <tr class="tableTitle">
                                         <td class="cn">Course Name</td>
                                         <td class="cnb">Course Number</td>
                                         <td class="maj">Major</td>
                                         <td class="sch">Schedule</td>
                                         <td class="sta">Status</td>
                                         <td class="pro">Professor</td>
                                         <td class="des">Description</td>
                                         <td class="opt">Option</td>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>Ent Software Platforms 2</td>  <!--Course Name-->
                                         <td>270</td>                       <!--Course Number-->
                                         <td>Software Engineering</td>      <!--Course Major-->
                                         <td>Mon: 9:00 am~ 11:00 am</td>    <!--Course Schedule-->
                                         <td>On</td>                        <!--Course Status-->
                                         <td>Staff</td>                     <!--Course Professor-->
                                         <td>Enterprise Software Platforms</td> <!--Course Description-->
                                         <td><div class="greenButton">Edit</div> <!--Course Edit-->
                                             <div class="redButton">Remove</div> <!--Course Remove-->
                                             <div class="clear"></div>
                                         </td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <!-- Course Search & Add page End-->
            </div>
            <div class="clear"></div>
        </div>
        <!--Main Body End-->
    </div>
    <!--Wrap End-->
</body>
</html>
