<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' />
    <link rel="stylesheet" type="text/css" href="css/main_style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/leftSideMenuBarFunction.js"></script>
    <title>Course Registration System</title>
</head>
<body>
    <!--Wrap Begin-->
    <div class="wrap">
        <!--Top Menu Bar Begin-->
        <div class="topMenuBar">
            <ul id="title">
                <li ><img id="flash" src="img/menu_ico.png" height="15px" width="15px" alt="menu_ico"/></li>
                <li><h4>Course Registration System</h4></li>
            </ul>
            <!--userInfo (userName) & sign out Begin-->
            <ul id="userWho">
                <li><img src="img/user_ico.png" height="15px" width="15px" alt="user_ico"></li>
                <li>UserName |</li>
                <li>Sign out</li>
            </ul>
            <!--userInfo (userName) & sign out End-->
            <div class="clear"></div>
        </div>
        <!--Top Menu Bar End-->

        <!--Main Body Begin-->
        <div class="mainBody">
            <div class="leftSide o_hFunction">
                <ul class="leftMenuBar">
                    <li id="red"><a href="admin_course_List.html" target="_self"><h3>Course List</h3></a></li>
                    <li id="orange"><a href="admin_Course_Search.html" target="_self"><h3>Course Serach</h3></a></li>
                    <li id="green"><a href="admin_Course_Create.html" target="_self"><h3>Create Course</h3></a></li>
                </ul>
            </div>
            <!--<div class="leftSideBlock o_hFunction"></div>-->
            <div class="rightSide">

                     <!-- My Course & Drop page Begin-->
                            <div class="pageSize" id="pageC">
                                <div class="createBox">
                                <form class="inputBox">
                                    <div class="courseName marginTop">
                                        <span>Course Name:</span><input id="firstName" type="text" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="courseNumber marginTop">
                                        <span>Course Number:</span><input id="lastName" type="password" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="sites marginTop">
                                        <span>Available Sites</span><input id="lastName" type="password" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="schedule marginTop">
                                        <span>Schedule:</span><input id="email" type="email" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="professor marginTop">
                                        <span>Professor:</span><input id="password" type="password" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="description marginTop">
                                        <span>Description:</span><input id="rePassword" type="password" />
                                        <div class="clear"></div>
                                    </div>
                                    <div class="majorRow marginTop">
                                        <span>Major:</span>
                                        <select>
                                            <option value="computer science">Computer Science</option>
                                            <option value="software engineering">Software Engineering</option>
                                            <option value="Maths">Maths</option>
                                            <option value="Literature">Literature</option>
                                        </select>
                                    </div>
                                    <div class="buttonRow">
                                        <button type="submit" id="createButton">Create</button>
                                        <button type="reset" id="resetButton">Reset</button>
                                        <div class="clear"></div>
                                    </div>
                                </form>
                                </div>

                             </div>
                         </div>
                     </div>
                     <!-- My Course & Drop page End-->

            </div>
            <div class="clear"></div>
        </div>
        <!--Main Body End-->

        <!--Footer Begin-->
        <div class="footer">

        </div>
        <!--Footer End-->

        <!--Top Menu Bar End-->
    </div>
    <!--Wrap End-->
</body>
</html>