<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' />
    <link rel="stylesheet" type="text/css" href="css/main_style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <title></title>
</head>
<body>
    <!--Wrap Begin-->
    <div class="wrap">
        <!--Top Menu Bar Begin-->
        <div class="topMenuBar">
            <ul>
                <li><h4>Course Registration System</h4></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!--Top Menu Bar End-->
        <!--Main Body Begin-->
        <div class="mainBody"></div>
        <!--Main Body End-->
        <!--Footer Begin-->
        <div class="footer">

        </div>
        <!--Footer End-->
        <!--Top Menu Bar End-->
    </div>
    <!--Wrap End-->
</body>
</html>