<!--Main Body Begin-->
<div class="mainBody">
    {{>navigation }}
    <div class="rightSide">
        <div class="pageSize" id="pageC">
            <div class="page_style">
                <div class="pageTitle">
                    <h2>Admin view courses</h2>
                </div>
                <div class="pageBoxPosition">
                    <table>
                        {{>coursetableheadline }}

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
