<!--Main Body Begin-->
<div class="mainBody">
    <div class="rightSide">
        <div class="pageSize" id="pageC">
            <div class="page_style">
                <div class="pageTitle">
                    <h2>Admin view users</h2>
                </div>
                <div class="pageBoxPosition">
                    <table class="users">
                        {{>usertableheadline }}
                        <tbody>
                        {{>userdetail }}
                        </tbody>
                    </table>
                    <div class="clear"></div>
                    <button type="button" class="view-more" ng-click="getMoreUser()">View More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
