<!--Main Body Begin-->
<div class="mainBody">
    <div class="leftSide o_hFunction">
        <ul class="leftMenuBar">
            <li id="red"><a href="course_LS.html" target="_self"><h3>Course List</h3></a></li>
            <li id="orange"><a href="course_S&A.html" target="_self"><h3>Course Serach & Add</h3></a></li>
            <li id="green"><a href="course_M&D.html" target="_self"><h3> My Course & Drop</h3></a></li>
        </ul>
    </div>
    <!--<div class="leftSideBlock o_hFunction"></div>-->
    <div class="rightSide">

             <!-- My Course & Drop page Begin-->
             <div class="pageSize" id="pageC">
                 <div class="page_style">
                     <div class="pageTitle">
                         <h2>My Course & Drop</h2>
                     </div>
                     <div class="pageBoxPosition">
                         <table>
                             <thead>
                             <tr class="tableTitle">
                                 <td class="cn">Course Name</td>
                                 <td class="cnb">Course Number</td>
                                 <td class="maj">Major</td>
                                 <td class="sch">Schedule</td>
                                 <td class="sta">Status</td>
                                 <td class="pro">Professor</td>
                                 <td class="drop">Drop Course</td>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <td>Ent Software Platforms 2</td>
                                 <td>270</td>
                                 <td>Software Engineering</td>
                                 <td>Mon: 9:00 am~ 11:00 am</td>
                                 <td>On</td>
                                 <td>Staff</td>
                                 <td><div class="redButton">Drop</div></td>
                             </tr>

                             <tr>
                                 <td>Ent Software Platforms 2</td>
                                 <td>270</td>
                                 <td>Software Engineering</td>
                                 <td>Mon: 9:00 am~ 11:00 am</td>
                                 <td>On</td>
                                 <td>Staff</td>
                                 <td><div class="redButton">Drop</div></td>
                             </tr>

                             <tr>
                                 <td>Ent Software Platforms 2</td>
                                 <td>270</td>
                                 <td>Software Engineering</td>
                                 <td>Mon: 9:00 am~ 11:00 am</td>
                                 <td>On</td>
                                 <td>Staff</td>
                                 <td><div class="redButton">Drop</div></td>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
             <!-- My Course & Drop page End-->

    </div>
    <div class="clear"></div>
</div>
