<!--Main Body Begin-->
<div class="mainBody">
    {{>navigation }}
    <div class="rightSide">
        <!-- Course Search & Add page Begin-->
        <div class="pageSize" id="pageB" >
            <div class="page_style">
                <div class="pageTitle">
                    <h2>Course Serach & Add</h2>
                </div>
                <div class="pageBoxPosition">
                    {{>searchform }}
                    <table>
                        {{>coursetableheadline }}
                        {{>courseRow }}
                    </table>
                </div>
            </div>
        </div>
        <!-- Course Search & Add page End-->
    </div>
</div>
<script>
window.mycourses = {{{json usercourses}}}
</script>
