<div class="centerBox">
    <form class="signin inputBox" ng-submit="processSignin()">
        <div class="userNameRow">
            <div class="err hidden">Please provide email address</div>
            <span>UserName:</span><input id="userName" type="email" ng-model="formSigninData.name"/>
            <div class="clear"></div>
        </div>
        <div class="passwordRow">
            <div class="err hidden">Please provide password</div>
            <span>PassWord:</span><input id="passWord" type="password" ng-model="formSigninData.password"/>
            <div class="clear"></div>
        </div>
        <div class="buttonRow">
            <button type="submit" id="loginButton">Login</button>
            <a href="/signup" id="registerButton">Register</a>
        </div>
    </form>
</div>
