<div class="inputBox">
    <div class="userNameRow">
        <span>UserName:</span><input id="userName" type="text" />
        <div class="clear"></div>
    </div>
    <div class="passwordRow">
        <span>PassWord:</span><input id="passWord" type="password" />
        <div class="clear"></div>
    </div>
    <div class="buttonRow">
        <div id="loginButton">Login</div>
        <a href="/signup" id="registerButton">Register</a>
    </div>
</div>
