.err {
    color: #e3473f;
    font-weight: bold;
}
h2{
    font-style: inherit;
    font-size: 30px;
    font-weight: lighter;
}
h4{
    font-style: normal;
    font-weight: lighter;
    line-height: 60px;
    font-size: 25px;
}
.clear{
    clear: both;
}
/* Component style */

.topMenuBar{
    margin: auto;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #353535;
    z-index: 999;
    top: 0;
}
#title{
    margin-left: 150px;
    color: #FFF;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
#title li{
    margin-right:5px;
    float:left;
}
#title img{
    margin-top:24px;
}
#userWho{
    margin-right:150px;
    float: right;
    color: white;
}
#userWho li{
    margin-left:5px;
    float: left;
    line-height: 60px;
}
.topMenuBar img{
    margin-top: 19px;
    cursor:pointer;
}

.mainBody{
    width:100%;
    height:100%;
    z-index: -999;
}
/* Left Side Menu Bar Style Begin*/
.leftSide{
    margin-top:60px;
    float: left;
    position: fixed;
    background-color: #f3f3f3;
    height: 100%;
    width:15%;
    z-index: 150;
}
.leftSide ul{
    margin:auto;
    width: 100%;
}
.leftSide li{
    height:50px;
    line-height: 50px;
    color: white;
    text-align: center;
    cursor:pointer;
}
/* Specia color*/
#red{
    background-color: #ff3e3e;
}
#orange{
    background-color: darkorange;
}
#green{
    background-color: green;
}
/*.leftSideBlock{
    margin:auto;
    float:left;
    height: 100%;
    width: 300px;
}*/
/*Left Side Menu Bar Style End*/


/*Right Side Page Style Begin*/
.rightSide{
    margin-top:4%;
    float: right;
    height:94%;
    width:85%;
}
.rightSide li{
    margin:0 0 0 0;
    height:100%;
    width:100%;
    z-index: -300;
}
.pageTitle{
    margin-top:50px;
    margin-left:30px;
}
.pageBoxPosition{
    margin-top:20px;
    margin-left:40px;
    padding-left:2%;
    padding-bottom:20px;
    width:90%;
    border: solid 1px;
    border-color: #eceaea;
    border-radius: 1%;
}

#pageA select {
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    width: 200px;
}
#pageA table{
    margin-top: 10px;

}
thead{
    color: #8c8c8c;
    height:30px;
}
td{
    height:30px;
}

.cn{
    width:15%;
}
.cnb{
    width: 8%;
}
.maj{
    width:15%;
}
.sch{
    width:20%;
}
.sta{
    width:10%;
}
.pro{
    width:10%;
}
.des{
    width:15%;
}
.add{
    width:17%;
}
.drop{
    width:17%;
}
.opt{
    width:8%;
}

#searchBar{
    margin-top: 10px;
    float: left;
    height: 20px;
    width: 200px;
}
#searchButton{
    margin-top: 9px;
    padding-right: 5px;
    padding-left: 5px;
    float:left;
    height: 25px;
    width:100px;
    color: white;
    background-color: lightblue;
    line-height: 25px;
    text-align: center;
    border: solid 1px;
    border-radius: 1%;
    cursor:pointer;
}
.redButton,
.greenButton {
    padding-right: 5px;
    padding-left: 5px;
    margin: 10px auto;
    height: 25px;
    width:60px;
    color: white;
    background-color: #ff3e3e;
    line-height: 25px;
    text-align: center;
    border: solid 1px;
    border-radius: 1%;
    cursor:pointer;
 }

.greenButton {
    background-color: green;
}
/*Right Side Page Style End*/

/*Animation */
.leftSide li:hover{
    opacity: 0.7;
}
#searchButton:hover{
    opacity: 0.7;
}
.greenButton:hover{
    opacity: 0.7;
}
.redButton:hover{
    opacity: 0.7;
}
@-webkit-keyframes flashIn{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@-moz-keyframes flashIn{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@-ms-keyframes flashIn{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes flashIn{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
#flash{
    -webkit-animation: flashIn 2s infinite ease-in-out;
    -moz-animation: flashIn 2s infinite ease-in-out;
    -ms-animation: flashIn 2s infinite ease-in-out;
    animation: flashIn 2s infinite ease-in-out;
}


/*--Create Course--*/
.creatBox{
    width:900px;
}
.inputBox{
    margin-left:50px;
}
.createBox span{
    float:left;
    font-size:30px;
    color: #8c8c8c;
    line-height: 50px;
}
.createBox input{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
.createBox select{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
.marginTop{
    margin-top:10px;
}

.buttonRow{
    margin-top:100px;

}
#createButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: dodgerblue;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: dodgerblue;
    border-radius: 10px;
    cursor:pointer;
}
#resetButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: red;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: red;
    border-radius: 10px;
    cursor:pointer;
}
.floatA{
    float:left;
}


/*Animation*/
#submitButton:hover , #resetButton:hover{
    opacity: 0.7;
}
