.centerBox{
    background-color: #eceaea;
    border-radius: 10px;
}
.inputBox{
    margin-left:50px;
}
span{
    float:left;
    font-size:30px;
    color: #8c8c8c;
    line-height: 50px;
}
input{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
select{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
.marginTop{
    margin-top:10px;
}
#submitButton{
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: green;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: green;
    border-radius: 10px;
    cursor:pointer;
}

#registerButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: dodgerblue;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: dodgerblue;
    border-radius: 10px;
    cursor:pointer;
}
#resetButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: red;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: red;
    border-radius: 10px;
    cursor:pointer;
}
/*Animation*/
#submitButton:hover , #resetButton:hover{
    opacity: 0.7;
}
