@charset "utf-8";
/* Main Style CSS Document */
/* Basic Style */

body,ul,ol,li,p,div,dl,dt,dd,img,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
}
html body{
    position:absolute;
    height:100%;
    width:100%;
}
body {

}
ol,ul{
    list-style:none;
}
a{
    text-decroation:none;
}
.wrap {
    margin: auto;
    width: 100%;
    height: 100%;
}
h4{
    font-style: normal;
    font-weight: lighter;
    line-height: 60px;
    font-size: 25px;
}
.clear{
    clear: both;
}

.topMenuBar{
    margin: auto;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #353535;
    z-index: 999;
}
#title{
    margin-left: 150px;
    color: #FFF;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
#title li{
    margin-right:5px;
    float:left;
}
#title img{
    margin-top:24px;
}
#userWho{
    margin-right:150px;
    float: right;
    color: white;
}
#userWho li{
    margin-left:5px;
    float: left;
    line-height: 60px;
}
.topMenuBar img{
    margin-top: 19px;
    cursor:pointer;
}

.centerBox{
    width:800px;
    height:600px;
    background-color: #eceaea;
    border-radius: 10px;
}
.inputBox{
    margin-top:100px;
    margin-left:50px;
    width:700px
}
span{
    float:left;
    font-size:30px;
    color: #8c8c8c;
    line-height: 50px;
}
input{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
select{
    margin-left:10px;
    float:right;
    width:500px;
    height:50px;
    border-radius: 10px;
    font-size:35px;
    color:#8c8c8c;
}
.marginTop{
    margin-top:10px;
}
#submitButton{
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: green;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: green;
    border-radius: 10px;
    cursor:pointer;
}
.buttonRow button{
    margin-top:20px;
}
#registerButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: dodgerblue;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: dodgerblue;
    border-radius: 10px;
    cursor:pointer;
}
#resetButton{
    margin-right:10px;
    float:right;
    height: 50px;
    width:200px;
    color: white;
    font-size:25px;
    background-color: red;
    line-height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: red;
    border-radius: 10px;
    cursor:pointer;
}
.floatA{
    float:left;
}

.footer{
    bottom: 0;
    position: fixed;
    height: 150px;
    width: 100%;
    background-color: #353535;
    z-index: 999;
}

/*Animation*/
#submitButton:hover , #resetButton:hover{
    opacity: 0.7;
}